<nav>
    <ul>
        <li><a routerLink="/boucle" routerLinkActive="active">boucle</a></li>
        <li><a routerLink="/template" routerLinkActive="active">template</a></li>
        <li><a routerLink="/todo" routerLinkActive="active">todo</a></li>
        <li><a routerLink="/todo2" routerLinkActive="active">todo2</a></li>
        <li><a routerLink="/liste-chien" routerLinkActive="active">liste chien</a></li>
        <li><a routerLink="/chien" routerLinkActive="active">gros chien</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>